<MarketplaceDetails>
  <SmallAppTile>Background.png</SmallAppTile>
  <ScreenShots>screenshot_2-3-2013_14.3.37.395.png;screenshot_2-3-2013_14.4.19.292.png;screenshot_2-3-2013_14.4.22.755.png;screenshot_2-3-2013_14.4.25.592.png;screenshot_2-3-2013_14.4.28.385.png;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>